# Django
django==3.2.3

# Django REST Framework
djangorestframework==3.12.4

# JWT
pyjwt==2.1.0

# Environment
django-environ==0.4.5

# postgres
psycopg2-binary==2.8.5

# Passwords security
argon2-cffi==20.1.0